USE [master]
GO
/****** Object:  Database [EmployeeTask]    Script Date: 8/1/2025 2:59:06 PM ******/
CREATE DATABASE [EmployeeTask]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeTask', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmployeeTask.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeTask_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EmployeeTask_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeTask].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeTask]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/1/2025 2:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [varchar](50) NOT NULL,
	[EmployeeCode] [varchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[PwSalt] [varchar](50) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RegistDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Employee_1] UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmpTask]    Script Date: 8/1/2025 2:59:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmpTask](
	[Id] [varchar](50) NOT NULL,
	[EmployeeId] [varchar](50) NOT NULL,
	[TaskName] [nvarchar](200) NOT NULL,
	[EstimatedEndDate] [datetime] NULL,
	[IsPrority] [bit] NOT NULL,
	[AssignDate] [datetime] NOT NULL,
	[AssignEmployeeId] [varchar](50) NOT NULL,
	[Remark] [nvarchar](200) NULL,
	[Status] [int] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateEmployeeId] [varchar](50) NULL,
	[CancelReason] [nvarchar](200) NULL,
	[ActualEndDate] [datetime] NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
